[2016-12-30 13:16] jcgruenhage opened #1 "Exporting right after the first start does not work, you have to select a directory first."

[2017-01-02 08:38] jcgruenhage opened #2 "Automation not working yet."

[2017-01-02 08:44] jcgruenhage opened #3 "Intro/Tutorial at first start."
At the moment, PME asks for permissions on the first startup without any explanation, and opens the drawer to show the user it exists. While these two could be considered fine, since this app is more for advanced users, the majority won't think of first going into the settings and setting an export path, and for this, it is not feasible to just open a file browser, without telling the user what to

[2017-01-19 00:09] #1 closed

[2017-01-19 00:09] #2 closed

[2017-01-19 00:09] #3 closed

[2017-01-29 13:11] mgillespie opened #4 "Automated exports happen regardless of UI preference."
(develop branch) Automated exports still happen even when "Enable Automatic Export" is disabled in the settings UI.    It's a bit hard to trap, as it's going through services and intents, but I know it's occurring, as I have a different path set of Auto Exports, (even though they are switched off), and my entire collection keeps appearing there, even after I delete it.

[2017-01-29 16:47] jcgruenhage commented on #4
Are you already on to this, or should I take a look?

[2017-01-29 21:28] ghost commented on #4
Not looked at it yet, should be able to take a look during the next week.

[2017-01-29 21:36] jcgruenhage commented on #4
I just took a look, just about ten lines of code to write, should be able to fix that tomorrow, still got stuff to do today :D

[2017-01-30 19:33] jcgruenhage commented on #4
Since the overwrite preference is done, that branch should have been merged long ago, we should really start branching some more :D

[2017-01-30 20:07] jcgruenhage commented on #4
Fixed in https://github.com/jcgruenhage/PlayMusicExporter/commit/c52f99fbf02b316e431cd8cebf9bb8a8f91e0efb.
@mgillespie what do you think, v0.9.4 now?

[2017-01-30 20:07] #4 closed

[2017-01-31 21:18] ghost commented on #4
Yep, no new issues I can see, auto exports don't happen now when not required, UI exports are working, and everything seems in order here.

[2017-02-01 08:41] jcgruenhage commented on #4
Then I'll do the release later today :)

[2017-02-03 17:30] jcgruenhage commented on #4
It is released, we had 35 downloads across all releases till now.

[2017-02-19 12:18] jcgruenhage opened #6 "OutOfMemoryError during the AppIntro"
There have been multiple reports of `java.lang.OutOfMemoryError` errors, that cause the application to crash.

One of the stack traces:

[code]

Two of the three logs I got came from a Nexus 6P, the third one is not known yet.
I should probably extend the Crash Log Sending Activity to get more data, so that I get the used device every time and not only if the users remember to add it.

[2017-02-19 12:23] jcgruenhage opened #7 "Extend the CrashHandler."
Currently the CrashHandler provides limited information only. Additionally to the already present stacktrace, some information around that like device, ROM, API level and so on could be collected to make debugging easier.

[2017-02-27 17:35] mugel0190 opened #8 "Reload Play Music Files"
The offline tracks are reloaded, when the app starts. It would bei nice to have a reload button.

Thanks in advance :-)

[2017-02-27 21:22] jcgruenhage commented on #8
I'll look into it when I have time again, I have some exams to pass first :D
Thank you for the proposal though :)

[2017-02-28 05:25] mugel0190 commented on #8
Never mind. Just take your time and good luck with your exams :-)

[2017-02-28 05:29] mugel0190 opened #9 "Select multiple albums in album overview"
It would be nice to select multiple albums in album overview. For example click on the corresponding covers to select albums for export. Just like the old play music exporter versions had.

[2017-03-01 10:03] jcgruenhage commented on #9
Thanks for your feedback, I'll look into that once I have time again ^^

[2017-03-09 14:55] jcgruenhage commented on #6
There also has been a report of another phone, so this does not seem to be limited to the Nexus 6P.
I'm going to take a closer look on this, after fixing #7 and possibly do some automatic crash reporting.

[2017-03-09 14:57] jcgruenhage opened #12 "F-Droid release"

[2017-03-09 15:02] jcgruenhage commented on #6
I expect a quick'n'dirty hack for this for v0.9.5 (probably not before april), a simple try catch wrapper around the intro, that replaces the intro with a series of alert dialogs. @mgillespie what do you think about that?

[2017-03-09 15:09] #8 closed

[2017-03-09 15:14] ghost commented on #6
Wondering if it's possible to simulate a low memory situation in the emulator, and/or perhaps try and reduce the size of the drawable resources?  (webp?)  I think I have seen this in some code I did once, where it's simply an error loading the drawable, perhaps a try-catch and just not show the drawable?

[2017-03-09 15:32] jcgruenhage commented on #6
Just hiding the drawable would be even better, but that would rather need a fix in [apl-devs/AppInto](https://github.com/apl-devs/AppIntro) instead.

I don't think simulating a low memory situation in an emulator would fix this, since the 6P has a lot of memory, and the people reporting this told me that they have even tried clearing the memory before that.

[2017-03-09 15:44] ghost commented on #6
Related? https://github.com/apl-devs/AppIntro/issues/402

[2017-03-09 15:56] jcgruenhage commented on #6
Probably. We should probably just scale down/compress all the images. Do you know anything about vector graphics? Replacing all those with SVGs would be the ideal solution, if file size really is the problem here.

[2017-03-09 22:38] ghost commented on #6
Had a go at this.   https://github.com/jcgruenhage/PlayMusicExporter/pull/13

[2017-03-09 23:47] jcgruenhage commented on #6
Well, we would need to make a new relese and send it out to the users, to check whether it has helped with anything but app size. Would you mind taking a look at #7? That is afaik the only thing that needs to be fixed now before v0.9.5, and I have a task for my programming class to finish that is due tomorrow, and and a (hard) exam on Wednesday..

[2017-03-09 23:57] ghost commented on #6
I will try and take a look at the crash handier at the weekend. :-)

On 9 Mar 2017 23:47, "Jan Christian Grünhage" <notifications@github.com>
wrote:

[2017-03-09 23:59] jcgruenhage commented on #6
Okay, thank you :+1:

It would be just adding a few lines to the automatic output to help determine which bugs may be device/rom specific.

[2017-03-10 11:00] #7 closed

[2017-03-10 20:28] jcgruenhage opened #15 "Automated Crash reports"
I think we should ask the user during the intro, whether they agree to send anonymous automatic crash reports. They could be pasted into a matrix room for that purpose.

[2017-03-10 20:31] jcgruenhage commented on #15
About pasting them in a matrix room, that might be not as easy, since the matrix-android-sdk is, afaik, only available as source code, and maintaining git submodules with android studio is a pain in the ass.

[2017-03-10 21:12] jcgruenhage commented on #12
https://gitlab.com/fdroid/rfp/issues/67

[2017-03-11 12:55] jcgruenhage commented on #12
Inclusion complete

[2017-03-11 12:55] #12 closed

[2017-03-11 12:56] jcgruenhage commented on #6
I guess this issue is fixed now, if it still happens for people, I will reopen this.

[2017-03-11 12:56] #6 closed

[2017-03-11 13:08] wrkindrk commented on #6
the issue still there! sent you an email for the log, which looks the same as the first post.

[2017-03-11 13:22] jcgruenhage commented on #6
@mohaabed In v0.9.4, yes, but (unless you compiled the app yourself after the PR above was merged) hopefully not in v0.9.5, which I will release in a few minutes ^^

[2017-03-11 13:31] jcgruenhage commented on #6
@mohaabed I have lost access to my key store because of a failed hard drive, which is one of the reasons, that I decided to move to F-Droid. In a few days, you will be able to download the app from F-Droid.

[2017-03-11 21:11] jcgruenhage opened #17 "Mark for export."
Provide the ability to mark songs that are not saved offline yet for export, so that they will be exported, once they are available. Any thoughts on that?

[2017-03-11 21:53] jcgruenhage opened #18 "UI overhaul"
The UI looks kind of messy, and makes things like #9 not really intuitive. I thought of something like a card based list of items, that includes everything (artists/albums/playlists) that can be then filtered down.
The cards could then be expanded to show a track list, clicking on a song selects it and so on.

This would fix the horrendous layout that results from setting your display size to smal

[2017-03-12 10:08] RSDamasceno opened #19 "V0.9.5"
Where do I download v0.9.5 apk?

[2017-03-12 10:55] ghost commented on #19
Install the FDroid app, it will be available in a few days (FDroid now compile, sign and distribute it).  If you want it sooner, compile from source :-)

[2017-03-12 11:06] RSDamasceno commented on #19
Thank you for explanation! I'll wait patiently! ;)

[2017-03-12 11:06] #19 closed

[2017-03-12 11:09] ghost commented on #18
There is a nice library for card based layouts.  https://github.com/gabrielemariotti/cardslib

Perhaps try out come ideas using online UI mock-up tools, there are a few that support android widgets, i wonder if they do card layouts too??

I think there will be some users that want to export from the UI, single or multiple items (items being albums, artists, individual tracks or playlist of tracks)

[2017-03-12 11:43] jcgruenhage commented on #18
Well, I don't see the difference between auto export handling everything pinned and marking non-downloaded stuff for export, should they ever be downloaded :P

That being said, I would like to avoid adding a new 3rd party library for that, but luckily google also provides a support library ('com.android.support:cardview-v7:25.2.0') for that. I've already done some experimenting on that:
![screensh

[2017-03-12 11:55] jcgruenhage commented on #19
As you can see [here](https://gitlab.com/fdroid/fdroiddata/commit/b6a316498aad52a497dc6eec458cff7c03aa4502), the current build is already included in their data repository, and since it has been a few days, since the last time the last builds were pushed out, we will probably see new builds rather soon.

[2017-03-12 11:56] ghost commented on #19
Build status should be posted here.

https://f-droid.org/wiki/page/re.jcg.playmusicexporter/lastbuild

[2017-03-12 12:22] jcgruenhage commented on #15
A different (and probably way better) way to collect crash reports would be to use [ACRA(Application Crash Reports for Android)](https://github.com/ACRA/acra). I could host the server part for that on my server too.

[2017-03-12 22:46] ghost commented on #19
Hmm, failing build. :-(

"Warning: License for package Android Support Repository not accepted.". I think it's a FDroid build issue.

[2017-03-13 06:10] jcgruenhage commented on #19
I'm going to look into it later today.. Would be nice to at least know which library is the cause for this ^^

[2017-03-13 07:08] ghost commented on #19
It looks like a problem FDroid side, i found other projects that previously build that now fail with the same error.

For example: https://f-droid.org/wiki/page/com.simplemobiletools.calendar

[2017-03-13 07:20] ghost commented on #19
And this https://gitlab.com/fdroid/fdroiddata/issues/619

[2017-03-13 08:02] jcgruenhage commented on #19
Well, downgrading from 25.2.0 to 25.0.0 would probably fix it, but that feels very wrong, fdroid will surely fix that soon ^^

[2017-03-13 08:43] jcgruenhage commented on #19
Well, all those libs that they are getting errors on, are open source. If they are open source, we should be able to build them automatically without having to accept some license first. Wouldn't it be better, if F-Droid just used a different source for them?

Edit: Nevermind, thats actually what they are doing, they just haven't refreshed their sources yet ;D

[2017-03-14 08:45] jcgruenhage commented on #19
Until they refresh their sources, here comes v0.9.5.1, a build that is just the same as 0.9.5, but with downgraded libraries. They should be able to build that now.

[2017-03-14 18:12] RSDamasceno commented on #19
https://f-droid.org/wiki/page/re.jcg.playmusicexporter/lastbuild_107

Failed again :/

[2017-03-15 05:58] jcgruenhage commented on #19
I guess I'll have to check every single library again, to get what is messing that up. The most likely reason would be, that they are not only not on r44, but haven't upgraded to r43 yet either, which would make the version selection of v0.9.5.1 wrong, since r42 has even older versions..

[2017-03-16 22:19] RSDamasceno opened #20 "I can't find this in f-droid.org"
![Screenshot_20170316-190313.png](http://i.imgur.com/ilEsqCR.png)

[2017-03-17 08:57] jcgruenhage commented on #20
Yeah, sorry about that.
The F-Droid build server needs to be updated to build our app, because it still uses old libraries. Look here:
https://gitlab.com/fdroid/fdroidserver/merge_requests/213

[2017-03-17 08:58] jcgruenhage commented on #20
I'll keep this open, so that people see this :D

[2017-03-17 11:35] RSDamasceno commented on #20
Would not it be easier to keep the updates here?
Or worse at both?

[2017-03-17 12:39] jcgruenhage commented on #20
It would not be easier, because I'd then have to care of the keystore used to sign the releases, and now F-Droid does that. The problem right now will hopefully go away rather soon, they are actively working on fixing their build server.

[2017-03-18 00:07] ghost commented on #20
Now available in FDroid app!!!!

[2017-03-18 07:39] #20 closed

[2017-03-24 09:34] JackTheFlap opened #22 "MagiskSU not detected as root"
Root is not detected within the app and within the Magisk Manager superuser list.

[2017-03-24 11:31] jcgruenhage commented on #22
Root work's for you in other apps?

[2017-03-24 11:50] JackTheFlap commented on #22
Just fixed the issue, re-flashing Magisk and now it works. Not sure if an older version was to blame.

[2017-03-24 15:14] jcgruenhage commented on #22
Well, the app just stopped successfully getting root for me too under MagiskSU too, so this will stay open for now.

[2017-03-24 15:16] jcgruenhage commented on #22
The strangest thing about this, is that it doesn't deny root access either, it just times out. After some time, the app throws a NoSuperUserException, which doesn't cause the CrashHandler to start (even more strange). Some logs:
[code]

[2017-03-25 11:33] Shiragasane opened #23 "Google Play Music using new audio codec on new versions."
As visible in the screenshot, Google Play Music seems to be using AAC instead of MP3 on newer versions of the app. This breaks tagging and the ability to play the files on some/most(?) audio players. The screenshot shows the result of ffprobe used to analyze an older version of the song from Google Play Music compared to a new one.
![mp3_aac](https://cloud.githubusercontent.com/assets/24361607/243

[2017-03-25 13:53] ghost commented on #23
Perhaps related to a recent Change in Play Music 7.5. which provides download size options.

https://9to5google.com/2017/03/15/google-play-music-7-5-update-quality/

https://i1.wp.com/9to5google.files.wordpress.com/2017/03/google-play-music-7-5-quality-3.png?w=700&h=&crop&quality=82&strip=all&ssl=1

[2017-03-25 16:29] jcgruenhage commented on #23
We should save that as an m4a file then, right?
We could extend the force overwrite setting to be more selective, like overwriting if a higher quality version is available. We could also notify the user, that they should set the download quality to high, for the best results.

[2017-03-26 10:18] jcgruenhage opened #24 "Remove debug preference screen from release builds."
I have got some crash reports that, if I interpreted the stack trace correctly, come from the debug settings. I am not sure why people click on something like that and bother to send a report for that (I've got at least three), but we should remove that to stop these reports from coming in.

[2017-03-26 10:20] jcgruenhage opened #25 "Memory Leak detection in debug builds?"
From working on a floss habitica build, I've got some insight on libraries we might want to use, for example, there is a nice little library that detects memory leaks. This is very low priority though.

[2017-03-27 07:57] LegoChicken commented on #23
I would agree that recommending that "Settings - Download quality" to "High", would be a good idea.

[2017-03-27 08:00] ghost commented on #23
It would be nice to quantify what Google Music uses for Low, Medium and
High, especially now AAC is being used...  As even 192k AAC is better than
320k MP3

On Mon, 27 Mar 2017 at 08:57 LegoChicken <notifications@github.com> wrote:

[2017-03-27 08:02] LegoChicken opened #26 "Suggestion: Subdirectory structure for albums example based on user settings"
In Settings, Export, Subdirectory structure for albums there is "Example: Beatles/Help!/13. Yesterday.mp3". Could you make this example based on the actual "Subdirectory structure for albums" setting. This would make it easy to check that you had got the expected setting. I made mistake the first time I changed this setting and couldn't see the "wrong" naming until I had done the export. Obviously

[2017-03-27 08:56] jcgruenhage commented on #26
You mean, parsing the structure and printing out the result for the example song? Sounds like a very doable (and nice) feature, thanks for the suggestion.

[2017-03-27 11:08] LegoChicken commented on #26
Yes, so for example I use:
{album-artist}/{album}/{disc=CD $}/{album-artist} - {no=$$} - {title}.mp3
So this should show:
Example: Beatles/CD 1/Help!/Beatles - Help! - 01 - Yesterday.mp3
Is possible to detect if there is more than 1 CD for album. If so, the disc part could be omitted.
A more complex addition would be to also have an option for "various artists" naming scheme. This would have a dif

[2017-03-27 11:34] LegoChicken commented on #23
I've got Play Music 7.5.4541-1.0.3840537 and just tried a download a on "High". It is MP3. So maybe it isn't all tracks or all devices (I'm on a Nexus 5 stock ROM).
Perhaps you should detect the format and set file extension appropriately.

[2017-03-27 11:42] jcgruenhage commented on #23
Yes, this really does need some built in detection.. Maybe there is a nice little java library for ffprobe?

[2017-03-27 11:45] jcgruenhage commented on #26
I've already thought about the show disc only, if there are multiple discs thing, I'll most certainly do that some time in the future, I don't think this is really high priority though.

[2017-03-27 11:47] jcgruenhage commented on #15
Since the amount of crash reports is increasing with every day (I've had 7 in one night), I'll do that now, probably using count.ly, since that is the most complete open source solution I could find.

[2017-03-27 14:45] jcgruenhage commented on #15
I can't seem to be able to run the docker container provided by count.ly, so that will have to wait.

[2017-03-27 15:43] LegoChicken commented on #26
I agree that it isn't high priority. Its easy to move the files between directories afterwards. Not as easy to rename them.

[2017-03-27 18:23] qwerty017 opened #27 "Thumbs Up Playlist?"
Would it be possible to add the ability to export the thumbs up playlist? Or if not, the ability to auto-export from a specific playlist and not just all songs that are downloaded?

[2017-03-27 18:25] jcgruenhage commented on #27
The "if not" thing is planned for v1.0.0, (see #17 and #18), and I'll probably include the thumbs up playlist there too. I just don't know when I'll have time to do that yet.

[2017-03-28 10:15] jcgruenhage commented on #15
After fixing the permission problems with the docker container, counlty is really straight forward. I have to figure out how to use their sdk in an F-Droid compatible way though, since they distribute the library through dl.bintray.com, which is afaik not trusted by F-Droid.

[2017-03-28 10:15] jcgruenhage commented on #15
A sample report: https://countly.jcg.re/crash/ebddd84cfb1ded6094e1f742577f33f5c2df9bde

[2017-03-28 10:18] ghost commented on #23
I have some free time to look into this, if nobody else has started on it yet.

[2017-03-28 10:31] jcgruenhage commented on #23
No, I am currently working on #15, go ahead and help with this, if you have the time ^^

I suspect this might be some more work though, since that probably needs some rewrite of the tag writing and another library for that..

[2017-03-28 10:46] ghost commented on #23
Initially I will do some investigations, work out if it's all access files,
or all files (are Google encoding MP3 uploads???), if it affects newer
titles, if it affects High, Medium, Low settings, find some all access
tracks that demonstrate this, try and flesh out the problem description
with some real world examples.

On 28 March 2017 at 11:31, Jan Christian Grünhage <notifications@github.com>
w

[2017-03-28 10:48] jcgruenhage commented on #23
I tried doing that, but I only got MP3s on high/medium on new and old titles until now :D

[2017-03-28 10:54] ghost commented on #23
@Shiragasane Do you have specifics of what the track was?  From the screenshot, it was Born In The USA, was this one of your uploads?  Was it Google Music All Access, and if so what album?  Can you link to the web version of the file, and see if we can reproduce this by adding this same track to our libraries?

[2017-03-28 10:56] jcgruenhage commented on #23
Someone in the IRC room reported that "Amapola" by "the Spotnicks" showed this behaviour.

[2017-03-28 11:06] jcgruenhage commented on #23
I just tried that one again though, still 320 kbit/s mp3 encoded..

[2017-03-28 11:30] LegoChicken commented on #23
I tried Jean-Micheal Jarre Equinoxe on Nexus 5 and also got 320 kbit/s mp3. Is it user or device specific?

[2017-03-28 12:06] jcgruenhage commented on #23
This could be a usw case for the analytics features that we will habe with countly (#15).

[2017-03-28 13:00] jcgruenhage commented on #15
Fixed in a76cf7e3e4cfeaf9a74921bfe3276fe01c7442a6

[2017-03-28 13:00] #15 closed

[2017-03-28 13:03] jcgruenhage opened #28 "Unify export logic"
Currently, the code that does the exporting in the automated export and the manual export are in different places. This should be unified, so that we have less duplicate code and to make it more maintainable.

Together with this, we could also finally add notifications to the automatic export.

[2017-03-28 13:19] jcgruenhage commented on #22
I'll move this to v1.0.0, since it currently works fine for me, and I haven't had any new reports.

[2017-03-28 13:35] #24 closed

[2017-03-28 13:50] jcgruenhage commented on #23
@mgillespie What do you think about just implementing analytics stuff for analyzing this problem in v0.9.6, so that we have more info on when the app downloads aac versions and when it downloads mp3 versions. That way we should be able to push v0.9.6 to F-Droid sometime in the next few days and collect that data automatically to help us understand when it happens. The only problem with that is, th

[2017-03-28 15:53] jcgruenhage commented on #23
Thanks to @Shiragasane I now know how to do this, and I also realise that it is very easy for us to determine if the tags were written successfully: The PME logs that, since MP3Agic throws an Exception, when it gets passed a non MP3 file. I've just added that to countly, so that we know what device and android version is used, when this happens.
@mgillespie do you want an account at countly.jcg.re

[2017-03-29 09:53] LegoChicken commented on #23
I've just seen that v0.9.6.0 has been released. F-Droid only has 0.9.5.2. Could you update it. Thanks.

[2017-03-29 09:59] jcgruenhage commented on #23
Well, F-Droid builds the APK themselves, and that might take some days (or longer, if they need to update their library versions first again.)

Edit: They need to update the server again, I've just sent them a PR for the server to use the new library versions, but it could take some time again. Last time it took a while until they redeployed the server too.

Another edit: As expected, the build cu

[2017-03-29 10:15] LegoChicken commented on #23
Oh, I didn't know how it worked. Could you publish a binary then in github or XDA. Unfortunately I'm not setup to build (or have the time). Thanks

[2017-03-29 10:18] ghost commented on #23
Everyone's time is precious.  Your options are really to wait for FDroid,
or build it yourself.

On 29 March 2017 at 11:15, LegoChicken <notifications@github.com> wrote:

[2017-03-29 10:25] jcgruenhage commented on #23
@LegoChicken v0.9.6 doesn't contain new features for users anyway, so you don't loose anything by waiting. It just contains some crash reporting (Which we should make an encouraged opt-in as soon as possible, instead of that being active by default with no way to change that).

About uploading binaries elsewhere, I just use the binaries built by F-Droid for that too. That has the advantage that I

[2017-03-29 21:13] jcgruenhage opened #29 "Move playmusiclib to different repository."
Maintaining that in a different repository, and then adding a dependency on that might be better, and make it easier for others to use the library, since they would just have to include the library using jitpack.io in gradle.

[2017-03-30 09:33] jcgruenhage opened #30 "Make Analytics opt-in"

[2017-03-30 09:51] ghost commented on #30
I would suggest opt-out.  Have it selected by default.

[2017-03-30 09:57] jcgruenhage commented on #30
I'd rather have it an encouraged opt-in during the intro, telling the user that they won't get any support if they run into problems without analytics enabled. This way most people will activate it (because it takes less clicks), but F-Droid still wont give a large red warning that we are actively tracking users, because it is still opt-in.

[2017-03-30 09:58] ghost commented on #30
Make sense, I didn't grasp the FDroid constraint.

On 30 March 2017 at 10:57, Jan Christian Grünhage <notifications@github.com>
wrote:

[2017-03-30 09:59] jcgruenhage commented on #30
Have a loot at this: https://f-droid.org/repository/browse/?fdfilter=anecdote&fdid=io.gresse.hugo.anecdote
That keeps people from using it ^^

[2017-03-30 11:09] jcgruenhage opened #31 "Simplify interaction with layout xmls with butterknife"
Take a look at this: http://jakewharton.github.io/butterknife/

[2017-03-30 20:56] ilGaspa opened #32 "Genre tag not exported correctly"
It seems that only certain genre tags are exported in the metadata added to the mp3s.
I'm still trying to understand what's the cause of this behaviour: it doesn't seem related to the genre string lenght and I've still not found a good reason. From 17 test songs with the following genres:

Blues
Dance/Electronic
Latin
Latin Pop
Pop
R&B/Soul
Reggaeton
South America

Only the following have been wri

[2017-03-30 21:07] jcgruenhage commented on #32
Could you provide a list of the songs, which genre it has in GPM and what genre the mp3 had? That sounds like a very strange bug :D

[2017-03-30 21:20] ghost commented on #32
Sure :) I do not exclude I'm doing something wrong.. But If its' so I don't understand what o:) The songs have all a genre displayed in GPM, it just seems that only a few have it exported. Every other part of the tag is correctly managed. Genres aren't that important as they are pretty subjective but this is indeed strange.

The songs are the following:
Clean Bandit - Rockabye (feat. Sean Paul & A

[2017-03-30 21:24] ghost commented on #32
A good suggestion for this sort of problem would be to share these tracks
to a public shared playlist.

If it survives this, then it's a Google supplied public all access track,
if it didn't, it's a private, uploaded track, and subject to users metadata
discrepancies.

On 30 Mar 2017 22:21, "ilGaspa" <notifications@github.com> wrote:

[2017-03-30 21:30] jcgruenhage commented on #32
@mgillespie if they are uploaded by the user, they should still export with the tags that GPM shows. Anyway, sharing them in a Playlist is a very good idea :) Could you do that @ilGaspa?

[2017-03-30 21:34] ghost commented on #32
I'm not sure I understood correctly.. but I'm sure these are all google supplied tracks, as I've still not uploaded anything :| I'm checking if I'm able to use GPMExporter to play my google all access playlists in other players, thus these are for sure All Access tracks.

Moreover, the "problematic" tracks have all a genre in GPM:
![screen](https://cloud.githubusercontent.com/assets/26802538/24527

[2017-03-30 21:35] ghost commented on #32
My major gripe with GPM is the blurred lines between all access and own
content, at times it's nice that it's seamless, other times it's a huge
nuisance, like when you share a playlist and only half the items are there,
as you can't really tell which type of items you adding.

On 30 Mar 2017 22:30, "Jan Christian Grünhage" <notifications@github.com>
wrote:

@mgillespie <https://github.com/mgillesp

[2017-03-30 21:37] ghost commented on #32
Sure @jcgruenhage @mgillespie  :) I did so and all the tracks survived
Here's the link
https://play.google.com/music/playlist/AMaBXymvA7jfTNQJGWb39OAt7xM2b2MtjeG7xcmGrFaYEgAa1hsXjPFP0VdbhbJlrPhv5tzfLKKd24s4WWuEfQXEggNKwY60lw==
There should be 28 tracks total

[2017-03-30 21:43] ghost commented on #32
Someone else would need to view the playlist, as to the owner they would
all always be visible!! :-)

On 30 Mar 2017 10:34 pm, "ilGaspa" <notifications@github.com> wrote:

[2017-03-30 21:45] ghost commented on #32
Understood :) If anything beside the link I provided is needed just tell me and I'll do it! ^-^
There should be 28 tracks total. I hope I'm not doing something wrong on my side and wasting your time o:)

[2017-03-30 21:49] ghost commented on #32
All 28 tracks visible here :-)

On 30 Mar 2017 10:45 pm, "ilGaspa" <notifications@github.com> wrote:

[2017-03-30 21:55] ghost commented on #32
Thanks :) so that wasn't the problem :/
Guess that the next step would be for someone else to add the tracks and try to download them, to see if the genre tag is exported correctly :\

[2017-03-31 08:13] ghost commented on #32
Ok, I can confirm that something indeed is wrong: I tried with 31 tracks and only Pop and Blues where populated as genres :/ I also checked if it was a problem with Mp3Tag but nor it nor iTunes or Foobar were able to find a genre tag in the exported songs.

@jcgruenhage Can you tell me how to export anonymous logs from play music exporter? I'll happily upload them if this can help :)

[2017-03-31 08:38] jcgruenhage commented on #32
We are currently in the progress of adding anonymous crash reports, but since this is not a crash, I am not sure how to do this..

[2017-03-31 08:41] ghost commented on #32
Mmm.. I understand :| Well if there's any way I can help tell me and I'll do it!

[2017-03-31 08:44] jcgruenhage commented on #32
A quick look confirmed, that this is due to ID3 only supports a certain list of genres:
http://www.multimediasoft.com/amp3dj/help/index.html?amp3dj_00003e.htm

I guess, as long as we still use MP3s, this bug might not be "fixable". Google is changing to m4a right now though, see #23.

[2017-03-31 08:47] ghost commented on #32
Wow o_o I didn't knew that the genre list for mp3s was a list and not a custom string, otherwise I'd have looked myself, sorry :( Guess we'll have to wait then.. as the only other way would be adding an APE tag and I don't think that would be feasible.

[2017-03-31 08:48] jcgruenhage commented on #32
I didn't know either, seems like a weird design choice :D
I'll close this then.. Sorry that I couldn't help..

[2017-04-02 09:23] ghost commented on #32
@jcgruenhage If I may, I checked online :)
ID3v1 Genres were indeed a fixed indexed list.
However, ID3v2 Genres are custom and any string can be entered, even tough they can reference standard ID3v1 genres by setting the string to "xx" where xx is the value of the ID3v1 genre index.
In other words: as play music exporter is writing ID3v2 tags, it should be able to enter any genre string it needs..

[2017-04-02 11:17] jcgruenhage commented on #32
Nice to know this was fixed in v2 :D
I'll look into it later, but some quick research showed, that this might be related to mpatric/mp3agic#120.

[2017-04-10 10:43] jcgruenhage commented on #32
It appears as though there is slow but steady progress on this in the library issue linked above, so this will probably be fixed in the next version :)

[2017-04-10 10:46] jcgruenhage commented on #32
We might want to consider switching to [jaudiotagger](http://www.jthink.net/jaudiotagger/) though, since that could also fix our problems with #23

[2017-04-10 11:24] ghost commented on #32
That's great news! Let me know if I May help testing new builds :)

[2017-04-11 18:52] jcgruenhage opened #33 "Fix F-Droid Build"
According to the build log [here](https://f-droid.org/wiki/page/re.jcg.playmusicexporter/lastbuild_110), it tries to install the support repo version 47, which should already be included, since the current build is after my PR, which updated the server to R47, was merged. Note that once the build is working, the log above will be different.. It sucks that there is no permalink for that

[2017-04-18 06:48] jcgruenhage commented on #33
Someone seems to have fixed that, v0.9.6.0 was successfully built yesterday.

[2017-04-18 06:48] #33 closed

[2017-04-18 07:08] jcgruenhage commented on #23
v0.9.6.0 has now been built by F-Droid, and so far there have been no reports of tagging issues among the ~500 songs that have been exportet so far.

[2017-04-21 19:47] jcgruenhage opened #34 "Translations"
We currently have English and German, but that does not cover 20% of our users.

### Languages that would be nice to support:
 - Spanish
 - Japanese (The app has been linked on a Japanese blog)
 - French

[2017-04-21 19:57] jcgruenhage commented on #34
Also, our German translations are outdated. That leaves another 11% of the users without proper localisation.

[2017-04-22 08:31] jcgruenhage commented on #22
Not relevant anymore I guess, no new reports in a while, works fine for me.

[2017-04-22 08:31] #22 closed

[2017-04-22 13:42] #25 closed

[2017-04-22 13:43] jcgruenhage commented on #30
Now the only thing still missing is opt-out in the settings.

[2017-05-10 14:07] ghost commented on #32
Any news on this, is there anything I can do ? :)

[2017-05-10 14:46] jcgruenhage commented on #32
I'm still waiting for an updated mp3agic version, that includes the fixed genre code. You could ask them for an update, to speed this up.

[2017-05-19 05:21] axelcocaine opened #35 "Downloaded files are empty 0kb"
Every playlist, album or song just creates an empty file, I'm on Nougat with Magisk, help!!

[2017-05-19 06:11] jcgruenhage commented on #35
I've heard some report of that, can't reproduce it yet though. In v0.9.7 I'll add some checks whether the file was exported successfully, and if not, examine what is special about the environment.

[2017-05-19 07:02] axelcocaine commented on #35
Any idea of when we will have an update coming?

[2017-05-19 07:55] jcgruenhage commented on #35
No, I currently have a lot of other stuff to do.. But I'll try to fit it in somewhere. May I ask what ROM you are using? And the version of Play Music? µG or regular GApps?

[2017-05-19 07:57] axelcocaine commented on #35
Galaxy s4 CrDroid rom 7.1.2, regular Gapps GPM ver. 7.7.4721-1.Q.3956937

[2017-05-19 10:17] jcgruenhage commented on #35
I have that device lying around somewhere, I'll try to reproduce this environment as close as possible. just stock opengapps? Which crdroid build?

[2017-05-19 15:11] axelcocaine commented on #35
Just changed to Resurrection Remix 7.1.2, same issue.
Hopefully you can fix it, also it depends on your model, mine is i9505 or *jfltexx"

If you have the same here's the link: https://forum.xda-developers.com/galaxy-s4/i9505-develop/rom-resurrection-remix-v5-8-0-t3507378

[2017-05-19 15:14] jcgruenhage commented on #35
That's the international version, right?

[2017-05-19 16:36] axelcocaine commented on #35
Yes it is, so I just clean installed same rom again and it finally worked, I think it has something to do wuth Magisk hide mode to enable safetynet, can you test that out so I won't screw my phone again? ):

[2017-05-19 16:52] jcgruenhage commented on #35
I was using the app on Lineage with MagiskSU and Magisk hide successfully, so that shouldn't have been the problem. I can test it with the S4 once I get that again, my sister had it with her, and she visits tomorrow, and then I won't have time for at least a week, so you gotta wait a bit.

[2017-05-19 16:54] axelcocaine commented on #35
Absolutely, I really appreciate your work and support! Thank u so much!

[2017-05-19 17:26] jcgruenhage commented on #35
no problem :) Let's just hope it keeps on working for you ^^

[2017-07-01 02:44] adminmip commented on #35
So I understand that this is a dead issue, but I'm on an LG G3, VS985 on LineageOS with MagiskSU and Magisk Hide.  Same exact issue.  All I had to do was flip MagiskHide to off, and for whatever reason, boom, fixed.  Still though, thank you for your work!

[2017-07-06 09:10] dr0pd34d opened #36 "Ability to save tracks as a playlist"
Hello jcgruenhage,

thank you for this great tool. 👍

I would love to save playlists or radio shows as a playlist file for the usage with other android player apps like Shuttle.
Maybe the M3U Format can be used.
[https://wiki.videolan.org/M3U/](url)

Is there anything planned in that direction?
I will try to have a look inside your code and think about a way to realize that.
I have not had so much

[2017-07-06 12:49] jcgruenhage commented on #36
It is planned, but I had no time to implement it yet. It will hopefully come sometime soon.

[2017-07-18 07:47] AlfaOmega33 opened #37 "Export in .m4a"
Hi. please add an option to export music in .m4a format (best quality)

[2017-07-18 07:50] AlfaOmega33 opened #38 "Similar function for Movies/Books?"
Hi. Is there a chance to "enhance" this application so you work with movies or books? Or maybe create other applications that are appropriate to the purpose?

[2017-07-18 08:58] jcgruenhage commented on #37
That won't help for music that is stored as an mp3 by google play music internally.

[2017-07-18 09:00] jcgruenhage commented on #38
There are no plans to extend this, mostly because I don't have the time to look into how google stores the files internally, and how to get decrypted copies of those files then.

[2017-07-18 09:01] #38 closed

[2017-07-19 06:16] ghost commented on #38
I understand. However, I want anyway leave open in the case some other developer wanted to try to add this function or simply as "future feature" ..

[2017-07-19 06:20] ghost commented on #37
Ok, but for other music could work?

[2017-07-19 06:28] jcgruenhage commented on #38
It is completely out of the scope of this app. Sorry.

[2017-07-19 06:30] jcgruenhage commented on #37
What? This app only exports music from Goole Play, and Google Play currently only uses mp3, so converting stuff to m4a will only result in a loss of quality.

[2017-07-20 18:57] star2gates commented on #37
Not true, some songs/albums  use m4a.

[2017-07-20 19:02] jcgruenhage commented on #37
Are you sure? I haven't had that on my devices yet. There were some reports, but those have vanished a few months back, it looked like Google was experimenting a bit and then decided to keep using mp3s for now.

[2017-07-20 19:34] star2gates commented on #37
Oh, ok. Thanks. I will subscribe again now that they are not using m4a.

[2017-07-20 19:41] jcgruenhage commented on #37
What? It would be great *if* they used m4a :D

[2017-07-20 20:00] star2gates commented on #37
Why? Sound quality? The m4a's i saw being downloaded were lower quality than the mp3's.

[2017-07-20 20:38] jcgruenhage commented on #37
Bitrate or quality? M4As use better algorithms to compress music, which means you find more "sound quality" in the same bitrate, or the same quality in a lower bitrate. 192 kbit/s M4As usually sound better than 320kbit/s MP3s

[2017-07-20 21:19] star2gates commented on #37
I ment that when i ran those files though spek it showed that they wer clipped around 16kHz while the mp3's went all the way to 22kHz.

[2017-07-21 05:15] jcgruenhage commented on #37
ahh, okay, that is worse.

[2017-07-23 07:37] ghost commented on #38
OK, thank you the same. But if you had to find the time, please do it

[2017-07-23 07:53] jcgruenhage commented on #38
The list of things I want to do is very long, and that is somewhere near the bottom, priority wise, so it is *very, very unlikely* that this will happen.

[2017-08-11 16:06] J05HI commented on #37
Use a converter to convert MP3 to M4A

[2017-08-11 16:09] J05HI commented on #34
@jcgruenhage
I'm german, contact me if I should translate it.
Maybe you can setup a translation portal for users who can't code :)

[2017-08-11 16:16] J05HI opened #39 "Add mark playlist/albums/songs for auto export"
The title says everything ;)

[2017-08-11 18:17] J05HI commented on #34
@jcgruenhage
I was so happy that you continue the project, that I've done it immediately and created a pull request :)

[2017-08-11 19:16] jcgruenhage commented on #37
I don't even see the benefit to do that, since every conversion leads to data loss.

[2017-08-11 19:16] #37 closed

[2017-08-11 19:16] jcgruenhage commented on #39
There's already an issue for that below, so duplicate of #17.

[2017-08-11 19:16] #39 closed

[2017-08-11 19:21] J05HI commented on #39
Oh okay, I've seen it but was not sure about it

[2017-08-11 20:48] jcgruenhage opened #42 ""Fix" changelogs."
Keeping the changelogs only at the github releases tab is imho a bad thing, so I'll add a CHANGELOG.MD file at some point, which will then be auto-generated by clog-tool/clog-cli, so commits from v0.9.7.0 (which will be the next release I guess) should follow the scheme that it uses.

[2017-08-11 20:49] jcgruenhage commented on #34
So, German translations are fixed now, For other languages, this remains a valid issue. Huge thanks to @J05HI for that!

[2017-08-11 20:52] jcgruenhage commented on #35
Does anyone still have problems with this?

[2017-08-11 20:54] J05HI commented on #34
@jcgruenhage
Maby I can find some people :)

[2017-08-11 20:57] jcgruenhage commented on #34
Spanish and French shouldn't be too hard, finding Japanese people might be hard though.

[2017-08-11 21:00] J05HI commented on #34
Yeah but you will ;)

[2017-08-11 21:02] jcgruenhage opened #43 "Merge changes from Arcus92, where possible."
The author of the original project has fixed some stuff back in May, I'll merge these changes into this fork, once I find the time to do so.

[2017-08-11 21:03] jcgruenhage commented on #30
The warning on F-Droid actually went live some time ago, so this is a little more urgent now then before, when the F-Droid people didn't realize this yet.

[2017-08-12 00:06] jcgruenhage commented on #42
## TODOs for this:
- [ ] Do proper semantic versioning, so MAJOR.MINOR.PATCH, not something like 0.9.6.0, that's a digit too much. Also, new features should cause a minor increment, not a patch increment, like what I did before..
- [ ] Write a .clog.toml containing a config.
- [ ] Write a changelog file for everything up to v0.10.0 (which will be the next release).

[2017-08-12 06:59] J05HI opened #44 "Downloaded music only setting"
Please add a setting to show only the download music, not the cached.

[2017-08-12 07:08] J05HI commented on #32
Switching to a new tagger wouldn't be a bad idea.
Maybe I have time to implement a new one

[2017-08-12 07:33] jcgruenhage commented on #32
I am not sure, mp3agic has (apart from this little thing) worked pretty good, and this problem is already fixed, they just didn't make a new release yet.

[2017-08-12 07:39] jcgruenhage commented on #44
Actually, it's even more, it shows all music in the local play music db. Showing only available for export songs (cached & downloaded) or even only downloaded songs might make sense though.

[2017-08-12 07:44] J05HI commented on #44
@jcgruenhage
Yeah there should be 3 options:
- All music
- Downloaded & cached music
- Downloaded music only

I'll take a look at this if I have time

[2017-08-12 07:51] jcgruenhage commented on #44
#### Steps needed for that:
1. Take a look at the db, to figure out where that info is at (hopefully all that is in the db somewhere).
2. Implement logic it in playmusiclib.
3. Implement setting (and the filtering in the music listing activities) in playmusicexporter.

Maybe we should do #29 first though.

[2017-08-12 07:53] J05HI commented on #44
Okay then I'll look at the cleanup first

[2017-08-12 08:29] jcgruenhage commented on #44
Especially moving the playmusiclib to it's own repo.. Maybe we should just do an Org, move this repo over there, create the playmusiclib repo and I could just give you commit access to both.

It'll probably take a while though, I'll go on vacation tomorrow.

[2017-08-12 08:47] J05HI commented on #44
@jcgruenhage
Okay would be great!

[2017-08-12 11:03] jcgruenhage commented on #44
I've prepared it so far, org is created, this repo was moved, the new playmusicexporter/playmusiclib repo was created, and I've invited you (and @mgillespie) into that org, and given all members write access to all repos.

[2017-08-12 18:36] J05HI commented on #44
@jcgruenhage
Great thank you!
And now have a nice holiday :)

[2017-08-12 18:50] J05HI commented on #32
@jcgruenhage
Oh okay, I didn't know that.
And why not integrating the current source. We don't really need a release, don't we?

[2017-08-12 22:42] jcgruenhage commented on #32
It would be a lot nicer, if there was a release, since we could then just update a single line in the build.gradle file. If we instead wanted to switch to building with their current sources, it would be a lot more work. The "easiest" way without a release on their side would probably be forking the lib, tagging the current state and using that through jitpack.io.

[2017-08-13 01:47] J05HI commented on #32
@jcgruenhage
Oh, now I understand.
Then let's wait for the release :)

[2017-08-13 10:06] jcgruenhage opened #45 "Fix F-Droid"
After moving the repository to the org, we probably need to tell the F-Droid guys, that we did so. Also, from 0.10 onward, the tracking anti-feature will not be applicable anymore, so that should be removed from their metadata then as well.

[2017-08-13 11:22] J05HI commented on #34
@jcgruenhage
I'm currently testing the translation portal POEditor. I've invited you, so please check your emails.
What do you think about integrating this?

[2017-08-13 20:06] J05HI opened #46 "Add splashscreen"
Add a nice splash screen with the app logo to improve the app opening experience.

[2017-08-14 10:34] J05HI opened #47 "Improve build speed"
Some settings to improve the build time of the app.

[2017-08-14 10:36] J05HI opened #48 "Switch from Java to Kotlin?"
@jcgruenhage

Should we do that?

[2017-08-14 11:02] J05HI opened #49 "Fix some memory leaks"
![](http://i.imgur.com/BeY9adG.png)

![](http://i.imgur.com/heNoChe.png)

![](http://i.imgur.com/UEpimvj.png)

[2017-08-14 16:58] J05HI opened #50 "Search doesn't work anymore"
The search functionality doesn't work anymore in the develop branch.

[2017-08-17 04:52] J05HI opened #51 "Speed improvements"
- [ ] Cover loading
- [ ] Music loading

[2017-08-17 07:21] jcgruenhage commented on #34
I'll check it out, but I'd much rather use weblate. I've seen it being used a lot before, it's open source, and I can host it myself, so we are not limited in the number of strings, like we would be with POEditor.

[2017-08-17 10:27] jcgruenhage commented on #46
Nice idea, would be great if you have the time.

[2017-08-17 10:28] jcgruenhage commented on #47
Any specific things you have in mind?

[2017-08-17 10:30] jcgruenhage commented on #48
I am not that familiar with Kotlin (contrary to Java, which I am very familiar with), so I wouldn't do it... I've heard a lot of good things about people liking Kotlin though, so I might look into it. Focusing my language learning on rust though atm.

[2017-08-17 10:31] jcgruenhage commented on #50
Haven't noticed, thanks for checking :)

[2017-08-17 10:31] jcgruenhage commented on #50
Does it still work on the latest F-Droid build? (I have no Play Services on my phone anymore, so can't check)

[2017-08-17 10:33] J05HI commented on #47
@jcgruenhage

Take a look at these articles:
[https://hackernoon.com/speed-up-gradle-build-in-android-studio-80a5f74ac9ed](https://hackernoon.com/speed-up-gradle-build-in-android-studio-80a5f74ac9ed)
[https://medium.com/@kevalpatel2106/how-to-decrease-your-gradle-build-time-by-65-310b572b0c43](https://medium.com/@kevalpatel2106/how-to-decrease-your-gradle-build-time-by-65-310b572b0c43)
https://and

[2017-08-17 10:34] jcgruenhage commented on #51
Wow, NO. When would you do that? During app startup? That would take forever, ignoring the fact, that this will use a shitload of additional space. *Maybe covers*, no way we'll copy mp3s though.

[2017-08-17 10:37] jcgruenhage commented on #47
Thanks for all the work you are putting into this btw, really appreciate it.

[2017-08-17 10:39] J05HI commented on #51
@jcgruenhage

No, sorry for the bad description of the issue. I won't copy the mp3s. Only the covers (this takes a part of a second) and doesn't take that much space.

We only need to copy them if they aren't on the SD card, if they are already (in "SDCARD/Android/data...") we can access them with a normal file access.

Loading the covers on scroll will nearly instantly then.

[2017-08-17 10:41] J05HI commented on #47
@jcgruenhage
No problem :)
We will create an amazing app!

[2017-08-17 10:44] J05HI commented on #50
@jcgruenhage

Fdroid works fine.
I think it's because of the change to a menu.

[2017-08-17 10:51] J05HI commented on #48
@jcgruenhage

Okay then I'll close it.
It's not so important to do that.

[2017-08-17 10:51] #48 closed

[2017-08-17 10:53] J05HI commented on #46
@jcgruenhage
Yeah after cleanup :)

[2017-08-17 10:54] J05HI commented on #34
@jcgruenhage
Oh okay, I haven't heard of it.

[2017-08-17 11:10] jcgruenhage commented on #51
That seems more reasonable, thanks for the better description. Should we maybe have thumbnails for most covers in memory already? Not large ones, just 128² or something like that.

[2017-08-17 11:12] jcgruenhage commented on #34
The guys over at matrix.org use it for translating riot.im for example. Are you using matrix by chance? There is a matrix chat room linked in the readme, which you could join ^^

[2017-08-17 15:51] J05HI commented on #51
@jcgruenhage

Maby if it doesn't take too much memory.

[2017-08-17 17:59] J05HI opened #52 "Check if device is rooted at all"
Check at the intro if su binary exists. If not show it to the user and maybe redirect to a rooting guide.

[2017-08-19 13:46] jcgruenhage commented on #52
Redirecting them to a rooting guide is out of scope, since that is usually a per device thing, adding a su check when requesting root failed is a good idea though.

[2017-08-20 10:55] J05HI commented on #52
Okay then only the su check.
I've added this to the superuserlib repo.

See playmusicexporter/superuserlib#1

[2017-08-22 15:54] jcgruenhage opened #53 "matrix integration test"
if the chat integration works, this issue should pop up on github

[2017-08-22 15:54] jcgruenhage commented on #53
nice!

[2017-08-22 15:54] #53 closed

[2017-08-23 22:06] jcgruenhage opened #54 "another matrix integration test"

[2017-08-23 22:09] #54 closed

[2017-08-30 17:01] jcgruenhage commented on #32
mp3agic should be updated soon, so this can hopefully be closed soon.

[2017-08-30 19:31] J05HI commented on #32
@jcgruenhage
Hopefully :)

[2017-08-30 19:34] jcgruenhage commented on #32
@J05HI mpatric said so, in an issue in his repository

[2017-10-31 12:28] thetrev opened #55 "Songs are in random order instead of actual order"
Using the latest version of the app, Oreo 8.0, GPM updated to latest too.

The order of the songs in playlist and artist view doesn't correspond to what the order should actually be. I don't seem to recall having this problem in older versions, but right now the only view that shows tracks in order is album view; my playlists are from various artists, but ordered.

I've attached images of the begi

[2017-11-03 07:02] jcgruenhage commented on #55
It's possible that this has never worked the way it should, I am not sure. I personally don't use this app or GPM in general anymore, but if I find the time, I'll look into this. It does not have a high priority for me though. Is the ordering in albums correct?

[2017-12-25 00:47] Alexandroid99 opened #56 "[Feature Request] Option to export to any path defined by string rather than documents UI"
So I've got a bit of an edge case here, I'm trying to push the mp3 files automatically into an nfs share on my raspi server (which cannot be mounted anywhere on the internal /sdcard), but I'm sure there are some other uses for being able to just give a plain filesystem path. Files would probably have to be written as root rather than unprivileged writes.

[2017-12-25 08:01] jcgruenhage commented on #56
While this would be possible (the default currently is built from a String), I'd prefer it if someone wrote a DocumentsProvider for NFS. That solution would then instantly work with all StorageAccessFramework enabled apps (like this one), and require no higher privileges.

[2018-02-27 10:48] ayan-das1234 opened #57 "I gave Play Music exporter root access running on Nox App player on mac but it constantly gives a message unfortunately it stopped working!"
I gave Play Music exporter root access running on Nox App player on mac but it constantly gives a message unfortunately it stopped working!

[2018-02-27 11:14] J05HI commented on #57
Sorry but it's currently not maintained anymore.
So I can't confirm that it works

[2018-02-27 11:18] #57 closed

[2018-02-27 17:00] J05HI commented on #57
@ayan-das1234
If you like you can take a look at [this amazing project](https://git.teknik.io/SMLoadrDev/SMLoadr)